*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --radius: 0.5rem;
    --space1: 0.5rem;
    --space2: 0.75rem;
    --space3: 1rem;
    --space4: 1.25rem;
    --space5: 1.5rem;
    --space6: 2rem;
    

    /*COLOR PALETTE */
    --bg: #FCFAFA;
    --bgtransparent: #fcfafa2c;
    /* --text: #222222; */
    --pink: #ECCACB;
    --gray: #3B3B3B;
    --graywhite: #ECECEC;
    --border: 1px dotted var(--gray);

    /* GRAY COLOR PALETTE */
    --bgWhite: #fcfefd;
    --bgChinaWhite: #e0e0de;
    --text: #3c3c3a;
    --davysGrey: #5a5a55;
    --quickSilver: #a7a7a5;
}

*{
    margin: 0;
}

html,
body{
    height: 100%;
    background-color: var(--quickSilver);
    color: var(--text);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "nav"
    "asideLeft"
    "main"
    "asideRight"
    "footer";
    min-height: 100vh;

}



header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--space3);
    background-color: var(--quickSilver);
    border-bottom: var(--border);
    position: relative;
}

header h1 a{
    font-size: 50px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-style: italic;
}

header h1 span{
    font-size: larger;
}

nav{
    width: 40%;
    display: flex;
    justify-content: space-around;

    padding: var(--space1);
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: var(--text);

    transition: letter-spacing 0.5s ease, text-decoration 0.5s ease;
}

nav a:hover{
    letter-spacing: 5px;
    text-decoration:underline;
    
}

#asideLeft {
    grid-area: asideLeft;
    width: 100%;

}

#asideLeft ul{
    list-style: none;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;

    margin: 0;
    /* white-space: nowrap; */

}

#asideLeft a{
    text-decoration: none;
    color: white;
    background-color: #000;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    /* transition: ; */
}

#asideLeft a:hover{
    background-color: white;
    color: black;
}

/* #asideLeft, main, #asideRight{
    margin: var(--space1);
} */

main{
    grid-area: main;
    padding: var(--space4);
    background-color: var(--graywhite);
    height: 100%;
}

.bookContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space6);
    padding: var(--space3);
}

.bookBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: var(--space2);

    background-color: var(--bgChinaWhite);
    border: var(--border);
    
}

.bookBox h4,
.bookBox p {
    font-family: 'Courier New', Courier, monospace;
}

.price{
    background-color: white;
}

.bookBox img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.bookBox *{
    margin: var(--space1);
}

.bookBox a{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: var(--space1);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    transition: background-color 0.4s ease, color 0.4s ease, letter-spacing 0.4s ease;

}

.bookBox a:hover{
    background-color: white;
    color: black;
    letter-spacing: 10px;
    width: 100%;
}

section h2{
    padding: var(--space3);
    text-transform: uppercase;
}

.bookBox h3{
    font-size: 20px;
    text-transform: uppercase;
}

#asideRight{
    grid-area: asideRight;

}

.cartGrid{
    display: grid;
    grid-template-columns: 500px;
    gap: var(--space1);

    border: 2px solid red;
}

.box{
    display: flex;
    flex-direction: row;
    background-color: #dadada;
    padding: var(--space1);
    border: 2px solid black;
}

.box img{
    width: 150px;
}



.cartGrid a{
    text-decoration: none;
    color: white;
    background-color: #000;
    height: fit-content;
    width: fit-content;

    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.cartGrid a:hover{
    background-color: #fff;
    color: #000;
}

.totalPrice{
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
    font-weight: bolder;
    font-size: larger;
}



footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: var(--space5);
    background-color: var(--gray);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}



/* ==== GRID Desktop ==== */
@media (min-width: 1024px) {
    body{
    display: grid;
    grid-template-columns: 270px 1fr 200px;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "header header header"
    "asideLeft main asideRight"
    "footer footer footer";
    min-height: 100vh;

    padding-top: 80px;
    
}

header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}



.bookContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.bookBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: var(--space1);
    
}

#asideLeft ul{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    padding-left: 40px;
    padding-top: 10px;

}




}